.nav-item {
    font-family: 'Work Sans', sans-serif;
}

.navbar-brand,
.offcanvas-title {
    font-family: 'Work Sans', sans-serif;
}

.navbar-brand,
.offcanvas-title,
.nav-item {
    font-family: 'Work Sans', sans-serif;
}

.footer-item {
    font-family: 'Work Sans', sans-serif;
}

.information-content {
    font-family: 'Open Sans', sans-serif;
}