/* 
------------- Color Scheme ------------
#8ECAE6 #219EBC #023047 #734B5E #F5D3C8 
*/

body {
    font-family: "Times New Roman", Times, serif;
}

@font-face {
    font-family: Elza;
    src: url(./fonts/ElzaTextTrial-Regular.otf);
}

@font-face {
    font-family: Elza-Bold;
    src: url(./fonts/ElzaTrial-BlackOblique.otf);
}

@font-face {
    font-family: OpenSans;
    src: url(./fonts/OpenSans-Regular.ttf);
}

.nav-item:hover {
    background: #734B5E;
    border-radius: 5rem;
}

.nav-item:hover>a {
    color: #F5D3C8;
}

.nav-item {
    font-size: 1.7em;
    text-align: center;
    font-family: Elza;
}

.nav-item>a {
    color: #F5D3C8;
}

.navbar-brand,
.offcanvas-title {
    font-family: Elza;
    color: #023047;
}

.brand-logo {
    width: 4rem;
    padding: 0.2rem;
}

.navbar-brand,
.offcanvas-title,
.nav-item {
    font-family: Elza-Bold;
}

#brand-font {
    font-size: 2rem;
    margin-left: 0.5rem;
    color: #F5D3C8;
}

.navigation-bar {
    background-color: #023047;
}

#offcanvasNavbar {
    background-color: #023047;
}

#offcanvasNavbarLabel {
    color: #F5D3C8;
}

#main-navbar {
    padding: 0;
}

#navbar-button {
    background-color: #F5D3C8;
}

.container-test {
    margin-top: 5rem;
    min-height: 80vh;
}

.footer-item {
    font-size: 1.2em;
    font-family: Elza;
}

.footer {
    color: #023047;
}

.offcanvas-logo {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 5rem;
}

#canvas-logo:hover {
    background-color: #023047;
}

.mt-rem-4 {
    margin-top: 4.5rem;
}

#svgtest {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

.information-content {
    font-family: OpenSans;
}

.cta-button {
    background-color: #044465 !important;
    color: white !important;
    margin-top: 5rem;
    font-size: 2rem !important;
}

.main-content {
    padding-bottom: 10vh;
}

@media screen and (max-width: 382px) {
    #brand-font {
        font-size: 1.5rem;
    }
}