/* 
------------- Color Scheme ------------
#8ECAE6 #219EBC #023047 #734B5E #F5D3C8 
*/

body {
    font-family: "Times New Roman", Times, serif;
}

.nav-item:hover {
    background: #734B5E;
    border-radius: 5rem;
}

.nav-item:hover>a {
    color: #F5D3C8;
}

.nav-item {
    font-size: 1.7em;
    text-align: center;
}

.nav-item>a {
    color: #F5D3C8;
}

.navbar-brand,
.offcanvas-title {
    color: #023047;
}

.brand-logo {
    width: 4rem;
    padding: 0.2rem;
}

#brand-font {
    font-size: 2rem;
    margin-left: 0.5rem;
    color: #F5D3C8;
}

.navigation-bar {
    background-color: #023047;
}

#offcanvasNavbar {
    background-color: #023047;
}

#offcanvasNavbarLabel {
    color: #F5D3C8;
}

#main-navbar {
    padding: 0;
}

#navbar-button {
    background-color: #F5D3C8;
}

.footer-item {
    font-size: 1.2em;
}

.footer {
    color: #023047;
}

.offcanvas-logo {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 5rem;
}

#canvas-logo:hover {
    background-color: #023047;
}

.mt-rem-4 {
    margin-top: 4.5rem;
}

.cta-button {
    background-color: #044465 !important;
    color: white !important;
    margin-top: 5rem;
    font-size: 2rem !important;
}

.main-content {
    padding-bottom: 10vh;
}

#cart {
    background-color: #023047 !important;
}

.cart-button {
    color: #F5D3C8;
}

#expandedCart {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 15rem;
    color: #F5D3C8;
    padding-top: 0.5rem;
}

.cart-item {
    display: flex;
}

.cart-item>h2 {
    padding: 0 0.5rem 0 0;
}

@media screen and (max-width: 382px) {
    #brand-font {
        font-size: 1.5rem;
    }
}